<h2> User Info <h2>
<h3>First Name : <%= @user.first_name %></h3>
<h3>Last Name : <%= @user.last_name %></h3>
<h3>Number of Posts : <%= @user.numThreads %></h3>
<h3>Number of Likes : <%= @user.numLikes %></h3>
