body {
	width:100%;
  margin: 10px;
  padding: 10px;
	box-sizing: border-box;
	background-color: #98D2AA;
}

#header {
	width:100%;
  margin: 10px;
  padding: 10px;
  background-color: white;
  text-align: center;
}

#main {
	width: 100%;
  margin: 10px;
  padding: 10px;
	background-color: #e3f4cb;
}


#footer {
	width:100%;
  margin: 10px;
  padding: 10px;
	background-color: white;
}
